body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-312px;
  width:1592px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:170px;
  width:42px;
  height:42px;
  display:flex;
  font-size:14px;
}
#u523 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u523_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u523.mouseOver {
}
#u523_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u523.mouseDown {
}
#u523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(206, 206, 206, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:183px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u525 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u525_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 120, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 120, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u525.selected {
}
#u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:185px;
  width:14px;
  height:13px;
  display:flex;
  font-family:'Segoe MDL2 Assets Normal', 'Segoe MDL2 Assets';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:170px;
  width:386px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u527_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u527.mouseOver {
}
#u527_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u527.mouseDown {
}
#u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:170px;
  width:194px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u528_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u528.mouseOver {
}
#u528_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u528.mouseDown {
}
#u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:170px;
  width:194px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u529_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u529.mouseOver {
}
#u529_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u529.mouseDown {
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:170px;
  width:194px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u530_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u530.mouseOver {
}
#u530_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u530.mouseDown {
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:170px;
  width:194px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u531_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u531.mouseOver {
}
#u531_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u531.mouseDown {
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:1516px;
  top:170px;
  width:194px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u532_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u532.mouseOver {
}
#u532_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u532.mouseDown {
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:1710px;
  top:170px;
  width:194px;
  height:42px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u533_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.537254901960784);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u533.mouseOver {
}
#u533_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:42px;
  background:inherit;
  background-color:rgba(238, 238, 238, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(234, 234, 234, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u533.mouseDown {
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
